body {
  background-color: #bd93bd;
  font-family: 'arial';
  color: #183642;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 700px;
  height: 700px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #d9e5d6;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.buttons {
  background-color: #379392;
  border-radius: 5px;
  color: #d9e5d6;
  height: 300px;
  width: 300px;
  font-size: 28px;
  font-family: 'arial';
}